html{
  scroll-behavior: smooth;

}

 body{
    
    margin: 0;
    padding :0;
    font-family: monospace;
    /* background: linear-gradient(120deg,#2980b9,#8e44ad); */
    background: url('../image/bacground3.jpg');
    background-size:100% ;
    height: 100%;
  
}

.container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:400px;
  background: white;
  border-radius: 5%;
  margin-top:5%;
  background: url(../image/Background.jpg);

}

.container h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 2px solid silver;
  margin-bottom: 10px;
}


.container form{
  padding: 0 15%;
  box-sizing: border-box;
  padding-top: 20px;
  
  
}  

input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border:none;
  border-radius: 7px;
  border-bottom: 2px solid silver;
  margin-bottom:4px;

  
}

.btn{
  color: white;
  border: none;
  float:right;
    width: 30%;
    height: 35px;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
    margin:28px;
}

.btn:hover {
  color: black;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 5px rgb(0, 47, 255);
  transform: translateY(4px);
}

p a {
  color: dodgerblue;
  font-size: 20px;
  text-decoration: none;
}

label{

    font-size: 15px;
    text-decoration: none;
}

.Username{
  color: rgb(4, 4, 4);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4px;
  font-size: 13px;;
  float:left
}
 
